---
import '../styles/ScrollingText.css'

const {title1,title2} = Astro.props
---


<div class="m-scroll">
    <div class="m-scroll__title">
      <div>
        <h1>
          <a>{title1}</a> <a class="outline-shadow">{title2}</a><a>{title1} </a> <a class="outline-shadow">{title2} </a><a>{title1} </a><a class="outline-shadow">{title2} </a>
        </h1>
        <h1>
        <a>{title1}</a> <a class="outline-shadow">{title2}</a><a>{title1} </a> <a class="outline-shadow">{title2} </a><a>{title1} </a><a class="outline-shadow">{title2} </a>
        </h1>
        <h1>
          <a>{title1}</a> <a class="outline-shadow">{title2}</a><a>{title1} </a> <a class="outline-shadow">{title2} </a><a>{title1} </a><a class="outline-shadow">{title2} </a>
        </h1>
      </div>
    </div>
  </div>